create database BookDB;
use BookDB
create table BOOKS(
ID varchar(8) primary key,
NAME varchar(24),
TITLE varchar(96),
PRICE float,
YR int,
DESCRIPTION varchar(128),
SALE_AMOUNT int);
insert into BOOKS values('201','孙卫琴','Java面向对象编程',65,2006,'让读者由浅入深掌握Java语言',20000);

insert into BOOKS values('202','孙卫琴','精通Struts',49,2006,'真的很棒',80000);

insert into BOOKS values('203','孙卫琴','Tomcat与JavaWeb开发技术详解',45,2004,'关于Tomcat与JavaWeb开发的最畅销的技术书',40000);



